In [38]:
import pandas as pd

#### Задание 1**
Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
- оценка 2 и меньше - низкий рейтинг
- оценка 4 и меньше - средний рейтинг
- оценка 4.5 и 5 - высокий рейтинг

Результат классификации запишите в столбец class

In [29]:
stats = pd.read_csv('ratings.csv')
def classifier(rating):
    
    if rating <= 2:
        return 'низкий рейтинг'
    elif 2 < rating <= 4:
        return 'средний рейтинг'
    elif rating == 4.5:
        return 'высокий рейтинг'
    elif rating == 5:
        return 'высокий рейтинг'
        
stats['class'] = stats['rating'].apply(classifier)
stats.tail(300)

          userId  movieId  rating   timestamp            class
24999795  162539     1198     5.0   995149788  высокий рейтинг
24999796  162539     1200     5.0   995150597  высокий рейтинг
24999797  162539     1204     4.0   995150528  средний рейтинг
24999798  162539     1208     4.0   995150528  средний рейтинг
24999799  162539     1210     4.0   995150631  средний рейтинг
...          ...      ...     ...         ...              ...
25000090  162541    50872     4.5  1240953372  высокий рейтинг
25000091  162541    55768     2.5  1240951998  средний рейтинг
25000092  162541    56176     2.0  1240950697   низкий рейтинг
25000093  162541    58559     4.0  1240953434  средний рейтинг
25000094  162541    63876     5.0  1240952515  высокий рейтинг

[300 rows x 5 columns]

In [3]:
stat = pd.read_csv('ratings.csv')
def classif(stat_):
    
    if stat_['rating'] <= 2:
        return 'низкий рейтинг'
    elif 2 < stat_['rating'] <= 4:
        return 'средний рейтинг'
    elif stat_['rating'] == 4.5:
        return 'высокий рейтинг'
    elif stat_['rating'] == 5:
        return 'высокий рейтинг'
#     else:
#         return row
        
stat['class'] = stat.apply(classif, axis=1)
stat.tail(300)

          userId  movieId  rating   timestamp            class
24999795  162539     1198     5.0   995149788  высокий рейтинг
24999796  162539     1200     5.0   995150597  высокий рейтинг
24999797  162539     1204     4.0   995150528  средний рейтинг
24999798  162539     1208     4.0   995150528  средний рейтинг
24999799  162539     1210     4.0   995150631  средний рейтинг
...          ...      ...     ...         ...              ...
25000090  162541    50872     4.5  1240953372  высокий рейтинг
25000091  162541    55768     2.5  1240951998  средний рейтинг
25000092  162541    56176     2.0  1240950697   низкий рейтинг
25000093  162541    58559     4.0  1240953434  средний рейтинг
25000094  162541    63876     5.0  1240952515  высокий рейтинг

[300 rows x 5 columns]

#### Задание 2
Используем файл keywords.csv.

Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.

Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:

geo_data = {

    'Центр': ['москва', 'тула', 'ярославль'],

    'Северо-Запад': ['петербург', 'псков', 'мурманск'],

    'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

Результат классификации запишите в отдельный столбец region.

In [44]:
inf = pd.read_csv('keywords.csv')
# inf.head()

In [40]:
geo_data = {
    'Центр': ['москва', 'тула', 'ярославль'],
    'Северо-Запад': ['петербург', 'псков', 'мурманск'],
    'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

In [45]:
def geo_inf(inf_):
    for k, v in geo_data.items():
        for x in v:
            if x in inf_:
                return k
    else:
        return 'undefined'

In [48]:
inf.region = inf.keyword.apply(geo_inf)
inf.head(300)

                 keyword     shows        region
0                     вк  64292779         Центр
1          одноклассники  63810309  Северо-Запад
2                  порно  41747114     undefined
3                   ютуб  39995567         Центр
4              вконтакте  21014195         Центр
..                   ...       ...           ...
295                 xnxx    512717     undefined
296            гиг порно    565866     undefined
297         киви кошелек    516880     undefined
298                рутор    511758     undefined
299  первый канал онлайн    529164     undefined

[300 rows x 3 columns]

#### Задание 3 (бонусное)

Есть мнение, что “раньше снимали настоящее кино, не то что сейчас”. Ваша задача проверить это утверждение, используя файлы с рейтингами фильмов из прошлого домашнего занятия (файл movies.csv и ratings.csv из базы grouplens.org.../movielens). Т. е. проверить верно ли, что с ростом года выпуска фильма его средний рейтинг становится ниже.

При этом мы не будем затрагивать субьективные факторы выставления этих рейтингов, а пройдемся по следующему алгоритму:

В переменную years запишите список из всех годов с 1950 по 2010.

Напишите функцию production_year, которая каждой строке из названия фильма выставляет год выпуска. Не все названия фильмов содержат год выпуска в одинаковом формате, поэтому используйте следующий алгоритм:

для каждой строки пройдите по всем годам списка years
если номер года присутствует в названии фильма, то функция возвращает этот год как год выпуска
если ни один из номеров года списка years не встретился в названии фильма, то возвращается 1900 год
Запишите год выпуска фильма по алгоритму пункта 2 в новый столбец ‘year’

Посчитайте средний рейтинг всех фильмов для каждого значения столбца ‘year’ и отсортируйте результат по убыванию рейтинга

In [160]:
import re